ENV
venv
.git
*.pyc
node_modules
build
.cache
*.egg-info
ghostdriver.log
dump.rdb

# data directory
data/**/*
!data/fhir/systems.json
!data/fhir/daf.json
!data/fhir/argo.json
!data/codes.bf

# py.test coverage
.coverage
testsuite/static/coverage
validator
.dockerignore
