<html>
    <head>
        <title>{% block title %}S4S Test Suite{% endblock %}</title>

        <link rel="shortcut icon" href="/static/favicon.ico" />

        {% block css %}{% endblock %}
    </head>
    <body>
        <div class="container">
            {% block body %}{% endblock %}
        </div>

        {% block javascript %}
            <script src="/static/build/vendor.bundle.js"></script>
            <script src="/static/build/app.bundle.js"></script>
        {% endblock %}
    </body>
</html>
