{% extends "base.html" %}

{% block body %}

    <style>
        .skipped {color: lightgray;}
        .failed {color: red;}
        .passed {color: green;}
    </style>

    <h1>S4S Test Suite <span class="glyphicon glyphicon-ok"></span></h1>
    <div class="container">
    {% set counter = 0 %}
    {% for vendor in vendors %}

    {% if counter == 0 %}

    <div class="row">
    {% endif %}
            <div id="summary" class="col-md-4">

                <div class="panel panel-default container-fluid">

                    <div class="panel-heading row">
                        <div class="col-8">
                            <h4 class="panel-title">
                                {{ vendor }}
                            </h4>
                        </div>
                        <div class="col-4">
                            <a href="/begin-test/{{ vendor }}" target="_blank">
                                <button type="button" class="btn btn-primary pull-right">Run Test</button>
                            </a>
                        </div>
                    </div>

                    <div class="panel-body pre-scrollable" style="height:400px;">

                        {% if latest_results[vendor] %}
                            Date of test - <b>{{ latest_results[vendor].date_ran }}</b>
                            {% if latest_results[vendor].test_run %}
                                <h3 class="text-success">Test Ran</h3>
                            {% else %}
                                <h3 class="text-danger">Test Failed</h3>
                            {% endif %}
                            <br />

                            <a href="/?report_id={{ latest_results[vendor].report_id}}" target="_blank">Link to results</a><br />
                            <a href="/load-text-report/{{ latest_results[vendor].report_id}}" target="_blank">Text Results</a>

                            <br />
                            <br />

                            <h4>Tags</h4>
                            <br />
                            {{ latest_results[vendor].tags }}

                            <br />
                            <br />

                            {% if latest_results[vendor].test_run %}
                                <h4>Test Summary</h4>

                                <div id="feature_results_{{ vendor }}">

                                <br />

                                {% for feature in latest_results[vendor].snapshot %}
                                    <h5>{{ feature.name }}</h5>
                                    <span class="{{ feature.status }}"><b>{{ feature.status }}</b></span>
                                    {% if feature.status == "failed" %}
                                        <span class="glyphicon glyphicon-remove"></span>
                                    {% elif feature.status == "passed" %}
                                        <span class="glyphicon glyphicon-ok"></span>
                                    {% endif %}
                                {% endfor %}

                                </div>

                            {% else %}
                                <h3 class="text-danger">Failed before snapshot created.</h3>
                            {% endif %}
                        {% else %}
                            No tests have been run for this vendor recently.
                        {% endif %}

                    </div>
                    </div>

                    {% set counter = counter + 1 %}


            </div>

    {% if counter >2 %}
    </div>
        {% set counter = 0 %}
    {% endif %}

    {% endfor %}

    <div class="row">

        <div class="col-md-8 results">
            <footer class="footer">
                <p class="pull-left">
                    This is the
                    <a href="http://syncfor.science/" target="_blank">Sync for Science</a>
                    test suite.
                    Source code at
                    <a href="https://github.com/sync-for-science/test-suite" target="_blank">GitHub</a>.
                </p>
            </footer>
        </div>
    </div>
    </div>
{% endblock %}
