{% extends "base.html" %}

{% macro vendor_option(vendor, authorize=True) -%}
<option
    {% if session.vendor == vendor %} selected{% endif %}
    {% if authorize %} data-authorize="true"{% endif %}
    >{{ vendor }}</option>
{%- endmacro %}

{% block body %}
    <div class="row">
        <div class="col-md-4">
            <h1>S4S Test Suite <span class="glyphicon glyphicon-ok"></span></h1>
            <form action="/authorize/" method="post">
                <div class="form-group">
                    <label for="vendor">Vendor</label>
                    <select class="form-control" name="vendor" id="vendor">
                        {{ vendor_option('SMART') }}
                        {{ vendor_option('Allscripts') }}
                        {{ vendor_option('Cerner') }}
                        {{ vendor_option('Epic') }}
                        {{ vendor_option('eClinicalWorks', False) }}
                        {{ vendor_option('athenahealth', False) }}
                    </select>
                </div>
                <div class="btn-group" role="group">
                    <button id="authorize" type="submit" class="btn btn-default">Authorize</button>
                    <button id="run-tests" type="button" class="btn btn-default">Run tests</button>
                </div>
            </form>
        </div>
        <div class="col-md-8">
            <div id="canvas"></div>
        </div>
    </div>
{% endblock %}
