{% extends "base.html" %}

{% macro vendor_option(vendor) -%}
<option
    {% if session.vendor == vendor %} selected{% endif %}
    data-vendor="{{ vendor }}"
    >{{ vendor }}</option>
{%- endmacro %}

{% macro tag_option(tag) -%}
<option value="{{ tag }}">{{ tag }}</option>
{%- endmacro %}

{% block body %}
    <div class="row">
        <div class="col-md-4 fixed">
            <h1>S4S Test Suite <span class="glyphicon glyphicon-ok"></span></h1>
            <div id="status"></div>
            <form action="/authorize/" method="post">
                <div class="form-group">
                    <label for="vendor">Vendor</label>
                    <select class="form-control" name="vendor" id="vendor">
                        {{ vendor_option('SMART') }}
                        {{ vendor_option('Allscripts') }}
                        {{ vendor_option('Cerner') }}
                        {{ vendor_option('Epic') }}
                        {{ vendor_option('eClinicalWorks') }}
                        {{ vendor_option('athenahealth') }}
                        {{ vendor_option('McKesson') }}
                    </select>
                </div>
                <div class="form-group">
                    <button id="run-tests" type="button" class="btn btn-default">Run tests</button>
                    <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#more-options">More options</button>
                </div>
                <div id="more-options" class="collapse">
                    <div class="form-group">
                        <label for="tags">Tags</label>
                        <select multiple data-role="tagsinput" id="tags">
                            {{ tag_option('allergies-and-intolerances') }}
                            {{ tag_option('immunizations') }}
                            {{ tag_option('lab-results') }}
                            {{ tag_option('medication-administrations') }}
                            {{ tag_option('medication-dispensations') }}
                            {{ tag_option('medication-orders') }}
                            {{ tag_option('medication-statements') }}
                            {{ tag_option('patient-documents') }}
                            {{ tag_option('patient-demographics') }}
                            {{ tag_option('problems') }}
                            {{ tag_option('procedures') }}
                            {{ tag_option('smoking-status') }}
                            {{ tag_option('vital-signs') }}
                            {{ tag_option('s4s') }}
                            {{ tag_option('smart') }}
                        </select>
                    </div>
                </div>
            </form>
            <div id="summary"></div>
        </div>
        <div class="col-md-8 results">
            <div id="canvas"></div>
        </div>
    </div>
{% endblock %}
