@import "~bootstrap/less/bootstrap.less";

.glyphicon-spin {
    -webkit-animation: spin 2s infinite linear running;
    animation: spin 2s infinite linear running;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}
@keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}

.steps {
    > span {
        color: @gray-light;
    }

    blockquote {
        color: @gray-light;
        white-space: pre;
        font-family: monospace;
        overflow-x: auto;

        small:before {
            content: '';
        }
    }

    .passed {
        color: @brand-success;
    }
    .failed {
        color: @brand-danger;
    }

    table {
        color: @gray-light;
        font-size: @font-size-small;
        margin: 0 @padding-base-horizontal;
    }
}

.scenario-summary {
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    margin: 2px;
    padding: 2px;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-right: 0px;
    height: 1.5em;
    width: 1.5em;
    font-size: 12px;
    text-align: center;
}

#summary {

    h4 {
        margin-top: 5px;
        margin-bottom: -2px;
        a {
            color: @text-color;
        }
    }

    a.scenario-summary:hover {
        color: white;
    }

    a.scenario-summary {

        border-radius: 10px;
        border: 1px solid @gray-light;

        &.passed {
            border: 1px solid @brand-success;
            color: @brand-success;
        }

        &.passed:before {
            font-weight: bold;
            content: 'P';
        }

        &.failed {
            border: 1px solid @brand-danger;
            background: @brand-danger;
            font-weight: bold;
            color: white;
        }

        &.failed:before {
            content: 'F';
        }

        &.skipped {
            color: @gray-light;
        }

        &.skipped:before {
            content: 'S';
        }
    }
}

@media (min-width: 767px) {
  div.fixed {
    position: fixed;
    overflow-y: auto;
    width: 350px;
    height: 100%
  }
  div.results {
    margin-left: 350px;
  }
}
