@import "~bootstrap/less/bootstrap.less";

.glyphicon-spin {
    -webkit-animation: spin 2s infinite linear running;
    animation: spin 2s infinite linear running;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}
@keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}

.steps {
    > span {
        color: @gray-light;
    }

    blockquote {
        color: @gray-light;
        white-space: pre;
        font-family: monospace;
        overflow-x: auto;

        small:before {
            content: '';
        }
    }

    .passed {
        color: @brand-success;
    }
    .failed {
        color: @brand-danger;
    }

    table {
        color: @gray-light;
        font-size: @font-size-small;
        margin: 0 @padding-base-horizontal;
    }
}

#summary {
    h4 a {
        color: @text-color;
    }

    .scenario-summary {

        &:before {
            content: ' ';
            padding: 0 1px;
        }

        &.passed:before {
            content: 'P';
            color: @brand-success;
        }

        &.failed:before {
            content: 'F';
            color: @brand-danger;
            font-weight: @headings-font-weight;
        }

        &.skipped:before {
            content: 'S';
            color: @gray-light;
        }
    }
}

@media (min-width: 767px) {
  div.fixed {
    position: fixed;
    overflow-y: auto;
    width: 350px;
    height: 100%
  }
  div.results {
    margin-left: 350px;
  }
}
